
body {padding-top: 50px;}

.navbar-default {
background-color: #000;
border-color: #E7E7E7;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

/* SUB ITEM */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
}

.navbar-default .navbar-form {
  margin-left: 184px;
}

.navbar-nav {
float: left;
margin: 0 0 0 80px;
}

.container {
padding-top: 30px;}


body.home .jumbotron {
  height: 250px;
  width: 1140px;
  margin: 3px 0 0 100px;
  position: relative;
  background: #fff;
}

body.home .jumbotron h1 {
  font-family: ARIAL, VERDANA, HELVETICA;
  font-style: italic;
  text-decoration: underline;
  font-size: 100px;
  font-weight: bold;
}

body.home #alien-large {
  position: absolute;
  max-width: 900px;
  z-index: 5;
  display: none;
  margin: -280px 0 0 -450px;
  left: 50%;
  top: 0%;
  right: 50%;
}

body.home .jumbotron #green-eyes {
  background: #42DF42;
  height: 100px;
  width: 136px;
  position: absolute;
  z-index: 2;
  left: -75px;
  top: 50px;
  border-radius: 160px;
}

/*body.home .jumbotron #red-eyes {
  background: red;
  height: 100px;
  width: 116px;
  position: absolute;
  z-index: 1;
  left: 80px;
  top: 80px;
  border-radius: 160px;
}*/

body.home .jumbotron h1 {
  margin: 10px;
}


.h1.home {
  color: #59A80F;
}


.navbar-default {
  background-color: #000;
  font-weight: bold;
  color: white;
}


.navbar-default .navbar-nav > li > a {
  color: white;
}


.navbar-default .navbar-brand {
  color: #fff;
  float: left;
  margin: 0 0 0 50px;
}


.alien-dancing {
  float: left;
  height: 70px;
}

#trending-news {}
#trending-news h1{
  margin:0;
  font-size: 54px;
}
#trending-news h1 span {
  font-style: italic;
  font-weight: bold;
}

.teaser-post-wrapper {
height: 117px;;

}

#trending-news h2{}
#trending-news .title {
font-size: 24px;}
#trending-news .date {}
#trending-news .content {}

#trending-news .date, #trending-news .content {
  font-size: 13px;
}

#trending-news .thumbnail {}
#trending-news .teaser-thumbnail{
  float: left;
  margin: 4px 15px 0 0;
}

#trending-news .teaser-thumbnail img{ 
height: 115px;
}

/* WIDGETS */
/* WIDGETS */
/* WIDGETS */

.widget.widget_ak_featured_post_widget {}
.widget.widget_ak_featured_post_widget ul{
  padding: 0;
}
.widget.widget_ak_featured_post_widget h4{}
.widget.widget_ak_featured_post_widget h4 a{
color: #333;
display: block;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 36px;
font-weight: 500;
height: 39px;
margin-top: 0px;
}


.widget.widget_ak_featured_post_widget ul li{list-style: none;
font-size: 20px;
}
.widget.widget_ak_featured_post_widget img{
  margin:0;
}

#sub-page-alien-header {
  height: 38px;
  margin: 6px 4px 4px 20px;
  position: absolute;
}

body.home #sub-page-alien-header {
  display: none;
}

p.pull-right.pi-symbol > a{
  color: #000;
  font-weight: lighter;
  font-size: 13px;
}


.widget.widget_specialrecentpostsFree {}
.widget.widget_specialrecentpostsFree div.srp-widget-singlepost{
padding: 0;
border: 0;}
.widget.widget_specialrecentpostsFree .srp-content-box{font-size: 13px;}
.widget.widget_specialrecentpostsFree .srp-post-title {font-size: 13px;margin: 0;}
.widget.widget_specialrecentpostsFree .srp-widget-date {
font-size: 11px;}

/* POST SINGLE */
/* POST SINGLE */

.acf-map {
  width: 100%;
  height: 500px;
  border: #ccc solid 1px;
  margin: 20px 0;
}


.single.single-post .acf-map {
  width: 300px;
  height: 300px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

.single .single-post-views {
  
}

#green-eyes {
left: 22px;
width: 26px;
height: 25px;
top: 10px;
z-index: -1;
position: absolute;
}